.blurredsphere {
  position: absolute;
  width: 1212px;
  height: 1122px;
  flex-shrink: 0;
  border-radius: 100px;
  opacity: 0.8;
  background: #fbedcd;
  right: 0;
  top: 0;
  z-index: -1000;
  filter: blur(239.5px);
}
