@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2")
    format("woff2");
  font-style: normal;
}

/*Fonts*/
$font-1: "Poppins", sans-serif;
/******************/

/*Colors*/
$primary-color: #4a1d1f;
$secondary-color: #272727;
$tertiary-color: #fdf9ed;
$saumon: #ffa903;
$natural-color: #ffffff;
/***************/

/*Screens*/
$small-screen: 400px;
$medium-screen: 768px;
$large-screen: 890px;
/***************/

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin generalWidth {
  width: 90%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // box-shadow: 1px 1px red inset;
}

body {
  font-family: $font-1;
  background-color: $natural-color;
  //   color: $primary-color;
}

h1 {
  font-family: $font-1;
  font-size: 900;
}

a {
  font-family: $font-1;
  text-decoration: none;
  //   font-weight: 100;
}
